<%# loading animation %>
<div class="loading js-loading">
  <div class="dot"></div>
</div>

<div class="js-container hide">
  <div class="shots">
      <% @shots.each do |shot| %>
        <div id="js-shot-<%= shot.id %>">
          <%= render shot %>
        </div>
      <% end %>
  </div>
</div>

