<div class="container">
  <div class="shots">
      <% @shots.each do |shot| %>
        <%= link_to shot, class: "has-text-black" do %>
          <div class="shot">
            <%= image_tag shot.user_shot.url , class: "shot__image"%>
            <div class="shot__hover">
              <h2 class="shot__title"><%= shot.title %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

