/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'variables';
 
 .turbolinks-progress-bar {
   height: 10px;
   background-color: $pink;
 }

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background: $pink;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;

  .dot {
    background: $pink-invert;
    width: 30%;
    padding-top: 30% ;
    @media only screen and (min-width: $mobile){
      width: 20%;
      padding-top: 20% ;
    }
    @media only screen and (min-width: $tablet){
      width: 10%;
      padding-top: 10% ;
    }
    position: relative;
    border-radius: 50%;
    animation-name: loading;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }
}

@keyframes loading {
  0%{
    transform: scale(0.5);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  }
  100%{
    transform: scale(1);
  }
}

.hide {
  visibility: hidden;
  overflow: hidden;
}

.scroll-lock {
  height: 100vh;
  overflow: hidden;
}