// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.shots {
  cursor: pointer;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.shot{
  position: relative;

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.85);
    opacity: 0;
    padding: 1em;;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__like {
    color: #999;
  }

  &:hover &__hover{
    opacity: 1;
  }
}

.js-drop-zone {
  z-index: 10;
 position: relative;
 padding: 3rem 0;
 border: 2px dashed #ccc;
 text-align: center;
 border-radius: 6px;
 background-color: #f8f8f8;
 
 &.dragging::before {
   content: "";
   position: absolute;
   left: 0; 
   width: 100%;
   top: 0; 
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   background-color: rgba($primary, .3);
   pointer-events: none;
   z-index: 99;
 }
 
 &.fire::before {
   content: "";
   position: absolute;
   left: 0; 
   width: 100%;
   top: 0; 
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   background-color: rgba($green, .3);
   pointer-events: none;
   z-index: 99;
 }
}

.hidden {
  display: none;
}

.thumbnail {
  width: 100%;
}