// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'variables';

.shots {
  cursor: pointer;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.shot{
  position: relative;

  &--details {
    cursor: default;
  }
  
  &__title {
    flex-direction: column;
    align-items: flex-start;
  }

  &__image {
    border-radius: .5em;
    width: 100%;;
    
    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }
  }

  &__user {
    color: #111;
    font-weight: bold;
  }

  &__like, &__comment, &__view {
    color: #999;
    span {
      padding-right: 5px;
    }
  }

  &__view {
    display: none;
    
    @media only screen and (min-width: $mobile){
      display: block;
    }

  }

}

.js-drop-zone {
  z-index: 10;
 position: relative;
 padding: 3rem 0;
 border: 2px dashed #ccc;
 text-align: center;
 border-radius: 6px;
 background-color: #f8f8f8;
 
 &.dragging::before {
   content: "";
   position: absolute;
   left: 0; 
   width: 100%;
   top: 0; 
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   background-color: rgba($primary, .3);
   pointer-events: none;
   z-index: 99;
 }
 
 &.fire::before {
   content: "";
   position: absolute;
   left: 0; 
   width: 100%;
   top: 0; 
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5em;
   background-color: rgba($green, .3);
   pointer-events: none;
   z-index: 99;
 }
}

.hidden {
  display: none;
}

.thumbnail {
  width: 100%;
}

.user-shot {
  border-radius: .5em;
}